<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.capstone.dao.RestaurantMapper">
    <select id="selectRestList" parameterType="map" resultType="project.capstone.domain.RestaurantDto">
        select *
        from restaurant
        where address like CONCAT('%',#{address},'%') and categories = #{categories}
    </select>

    <select id="selectRestInfo" resultType="project.capstone.domain.RestaurantDto">
        select *
        from restaurant
        where restaurantId = #{restaurantId}
    </select>

    <insert id="insertRestInfo" parameterType="project.capstone.domain.RestaurantDto">
        insert into restaurant
            (restaurantName, address, imageUrl, categories, userId)
        values
            (#{restaurantName}, #{address}, #{imageUrl}, #{categories}, #{userId})
    </insert>

    <select id="checkAddress" resultType="int">
        SELECT EXISTS
            (SELECT * FROM restaurant
                      WHERE address = #{checkAddress});
    </select>

</mapper>